In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./data/수도권(지하철).csv',
                  low_memory = False)

In [5]:
data

     Unnamed: 0 SBW_STATN_NM             ROAD_NM_ADDR
0            14          소요산        경기도 동두천시 평화로 2925
1            15          동두천        경기도 동두천시 평화로 2687
2            16           보산        경기도 동두천시 평화로 2539
3            17        동두천중앙        경기도 동두천시 동두천로 228
4            18           지행        경기도 동두천시 평화로 2285
..          ...          ...                      ...
206         684           운양  경기도 김포시 김포한강1로 235(운양동)
207         685         걸포북변   경기도 김포시 김포대로 1040(북변동)
208         686     사우(김포시청)    경기도 김포시 김포대로 852(사우동)
209         687           풍무    경기도 김포시 김포대로 710(사우동)
210         688           고촌     경기도 김포시 고촌읍 김포대로 350

[211 rows x 3 columns]

In [8]:
data.drop(columns={'Unnamed: 0'}, inplace = True)

In [10]:
addr = data.ROAD_NM_ADDR
addr

0            경기도 동두천시 평화로 2925
1            경기도 동두천시 평화로 2687
2            경기도 동두천시 평화로 2539
3            경기도 동두천시 동두천로 228
4            경기도 동두천시 평화로 2285
                ...
206    경기도 김포시 김포한강1로 235(운양동)
207     경기도 김포시 김포대로 1040(북변동)
208      경기도 김포시 김포대로 852(사우동)
209      경기도 김포시 김포대로 710(사우동)
210       경기도 김포시 고촌읍 김포대로 350
Name: ROAD_NM_ADDR, Length: 211, dtype: object

In [11]:
addr = addr.str.slice(start=0, stop=8)
addr.value_counts()

경기도 용인시     24
경기도 의정부시    21
경기도 고양시     21
경기도 성남시     19
경기도 남양주시    13
경기도 안산시     13
경기도 부천시     11
경기도 수원시     11
경기도 김포시      9
경기도 양평군      9
경기도 안양시      7
경기도 군포시      7
경기도 파주시      7
경기도 시흥시      6
경기도 동두천시     5
경기도 평택시      5
경기도 과천시      5
경기도 오산시      4
경기도 가평군      4
경기도 광명시      3
경기도 양주시      3
경기도 구리시      2
경기도 화성시      1
경기도 의왕시      1
Name: ROAD_NM_ADDR, dtype: int64

In [12]:
subway_cnt = addr.value_counts()

In [13]:
subway_cnt

경기도 용인시     24
경기도 의정부시    21
경기도 고양시     21
경기도 성남시     19
경기도 남양주시    13
경기도 안산시     13
경기도 부천시     11
경기도 수원시     11
경기도 김포시      9
경기도 양평군      9
경기도 안양시      7
경기도 군포시      7
경기도 파주시      7
경기도 시흥시      6
경기도 동두천시     5
경기도 평택시      5
경기도 과천시      5
경기도 오산시      4
경기도 가평군      4
경기도 광명시      3
경기도 양주시      3
경기도 구리시      2
경기도 화성시      1
경기도 의왕시      1
Name: ROAD_NM_ADDR, dtype: int64

In [14]:
subway_cnt = pd.DataFrame(subway_cnt)

In [17]:
subway_cnt.rename(columns={'ROAD_NM_ADDR':'지하철 역'}, inplace=True)

In [18]:
subway_cnt

          지하철 역
경기도 용인시      24
경기도 의정부시     21
경기도 고양시      21
경기도 성남시      19
경기도 남양주시     13
경기도 안산시      13
경기도 부천시      11
경기도 수원시      11
경기도 김포시       9
경기도 양평군       9
경기도 안양시       7
경기도 군포시       7
경기도 파주시       7
경기도 시흥시       6
경기도 동두천시      5
경기도 평택시       5
경기도 과천시       5
경기도 오산시       4
경기도 가평군       4
경기도 광명시       3
경기도 양주시       3
경기도 구리시       2
경기도 화성시       1
경기도 의왕시       1

In [19]:
subway_cnt.to_csv('./data/경기도_지하철역_data.csv')