In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
train_station = pd.read_excel('./data/기차역.xls',
                             header=2,
                             usecols='L,B,M')

In [3]:
pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
                                              0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB 2.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
train_station

                         주소       역이름     소속지사
0           서울시 중구 한강대로 405       서울역     서울본부
1     서울특별시 용산구 한강대로 23길 55       용산역     서울본부
2        서울특별시 영등포구 경인로 846      영등포역  수도권광역본부
3           경기도 광명시 광명역로 21       광명역  수도권광역본부
4        서울특별시 동대문구 왕산로 214      청량리역     서울본부
..                      ...       ...      ...
213         강원도 원주시 지정로 145      서원주역     서울본부
214  경상북도 봉화군 소천면 분천리 113-2  양원(영동선)역   대구경북본부
215                     NaN       NaN      NaN
216                     NaN       NaN      NaN
217                     NaN       NaN      NaN

[218 rows x 3 columns]

In [16]:
train_station.to_csv('./data/기차역.csv')