In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('./data/병원list.csv', 
                  low_memory=False)

In [4]:
del data['Unnamed: 0']

In [5]:
data

          의료기관명    병원종류                        주소
0       서울대학교병원  상급종합병원         서울특별시 종로구 대학로 101
1       부산대학교병원  상급종합병원          부산광역시 서구 구덕로 179
2       경북대학교병원  상급종합병원  대구광역시 중구 동덕로 130(삼덕로 2가)
3     칠곡경북대학교병원  상급종합병원          대구광역시 북구 호국로 807
4       전남대학교병원  상급종합병원              광주 동구 제봉로 42
..          ...     ...                       ...
67       목포시의료원    종합병원      전라남도 목포시 용해동 133-1번지
68  창원경상국립대학교병원    종합병원        경남 창원시 성산구 삼정자로 11
69      영주적십자병원    종합병원             경북 영주시 대학로327
70       성남시의료원    종합병원      성남시 수정구 수정로 171번길 10
71    세종충남대학교병원    종합병원           세종특별자치시 보듬7로 20

[72 rows x 3 columns]

In [13]:
addr = data.주소.str.slice(start=0, stop=2)
addr

0     서울
1     부산
2     대구
3     대구
4     광주
      ..
67    전라
68    경남
69    경북
70    성남
71    세종
Name: 주소, Length: 72, dtype: object

In [14]:
addr.value_counts()

주소
경기    11
서울    10
강원     7
전라     6
경상     5
충청     5
대구     4
부산     4
경남     3
대전     3
광주     3
인천     2
충남     2
경북     2
제주     2
전남     1
성남     1
세종     1
Name: count, dtype: int64

In [22]:
addr = addr.str.replace('전남','전라').replace('충남', '충청').replace('성남','경기').replace('경남','경상').replace('경북', '경상')

In [23]:
addr.value_counts()

주소
경기    12
서울    10
경상    10
충청     7
전라     7
강원     7
부산     4
대구     4
광주     3
대전     3
인천     2
제주     2
세종     1
Name: count, dtype: int64

In [24]:
addr_cnt = addr.value_counts()

In [46]:
# addr data의 숫자제거
i = 0
addr_fin = pd.Series() # 빈 시리즈 생성
for string in addr :
    addr_fin[i] = string
    i = i+1

In [53]:
addr_fin.value_counts()

경기    12
서울    10
경상    10
충청     7
전라     7
강원     7
부산     4
대구     4
광주     3
대전     3
인천     2
제주     2
세종     1
Name: count, dtype: int64

In [54]:
addr_cnt = addr_fin.value_counts()

In [26]:
hospital_addr = pd.DataFrame(addr_cnt)

In [27]:
hospital_addr

    count
주소
경기     12
서울     10
경상     10
충청      7
전라      7
강원      7
부산      4
대구      4
광주      3
대전      3
인천      2
제주      2
세종      1

In [31]:
hospital_addr = hospital_addr.T

In [32]:
hospital_addr

주소     경기  서울  경상  충청  전라  강원  부산  대구  광주  대전  인천  제주  세종
count  12  10  10   7   7   7   4   4   3   3   2   2   1

In [36]:
import squarify

In [37]:
hospital_addr.to_csv('./data/지역별_종합병원_갯수.csv')