In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./data/톨게이트.csv',
                   usecols={'영업소명', '주소'},
                   encoding='cp949',
                   low_memory = False)

In [3]:
data

    영업소명                         주소
0     인천        인천광역시 계양구 경인고속도로 17
1     김포  경기도 김포시 김포대로 319번길 209-23
2    서서울      경기도 안산시 상록구 장하로 141-2
3     시흥      경기도 시흥시 서해안로 1780번길94
4    남인천     인천광역시 남동구 음실로 117번길 32
..   ...                        ...
365   양산     경상남도 양산시 상북면 와곡2길 12-1
366  통도사      울산광역시 울주군 삼남면 반구대로 80
367  서울산     울산광역시 울주군 삼남면 반구대로 760
368   활천  울산광역시 울주군 두서면 활천내와로 30-25
369  배내골       경상남도 양산시 원동면 배내로 915

[370 rows x 2 columns]

In [4]:
res = data.주소.str.contains('서울', na=False)
data_G = data[res]
data_G

     영업소명                          주소
38     토평  경기도 구리시 서울외곽순환고속도로 26(토평동)
39  구리남양주       경기도 구리시 서울외곽순환고속도로 27