In [1]:
import pandas as pd
import numpy as np

1. 더시그넘하우스 5년 
2. 서울시니어스강남타워 5년 
3. 더클래식500 4년 
4. 유당마을 4년
5. 노블레스타워 3년 
6. 서울시니어스분당타워 3년 
7. 삼성노블카운티 3년

In [9]:
columns = ['지역', '종합병원', '터미널 및 기차역', '지역 버스 노선', '지하철역', '공원', '골프장']
index = ['더 시그넘 하우스', '서울 시니어스 강남타워', '더클래식500', '유당마을', '노블레스타워', '서울 시니어스 분당타워', '삼성 노블카운티' ]
silvertown_top = pd.DataFrame(index=index, columns=columns)

In [10]:
silvertown_top

               지역 종합병원 터미널 및 기차역 지역 버스 노선 지하철역   공원  골프장
더 시그넘 하우스     NaN  NaN       NaN      NaN  NaN  NaN  NaN
서울 시니어스 강남타워  NaN  NaN       NaN      NaN  NaN  NaN  NaN
더클래식500       NaN  NaN       NaN      NaN  NaN  NaN  NaN
유당마을          NaN  NaN       NaN      NaN  NaN  NaN  NaN
노블레스타워        NaN  NaN       NaN      NaN  NaN  NaN  NaN
서울 시니어스 분당타워  NaN  NaN       NaN      NaN  NaN  NaN  NaN
삼성 노블카운티      NaN  NaN       NaN      NaN  NaN  NaN  NaN