In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
data = pd.read_csv('./data/지하철.csv', 
                  usecols = {'SBW_STATN_NM','ROAD_NM_ADDR'},
                  low_memory=False)

In [9]:
data.head()
data.tail()

     SBW_STATN_NM             ROAD_NM_ADDR
1009     서부산 유통지구  부산광역시 강서구 유통단지1로 57번길 7
1010           공항      부산광역시 강서구 공항진입로 165
1011           덕두        부산광역시 강서구 경전철로 10
1012           등구       부산광역시 강서구 경전철로 194
1013           대저       부산광역시 강서구 낙동북로 294

In [10]:
res = data.ROAD_NM_ADDR.str.contains('경기', na=False)
data_subway = data[res]
data_subway.head(20)

   SBW_STATN_NM                ROAD_NM_ADDR
14          소요산           경기도 동두천시 평화로 2925
15          동두천           경기도 동두천시 평화로 2687
16           보산           경기도 동두천시 평화로 2539
17        동두천중앙           경기도 동두천시 동두천로 228
18           지행           경기도 동두천시 평화로 2285
19           덕정            경기도 양주시 화합로 1356
20           덕계       경기도 양주시 고덕로 139번길 317
21           양주             경기도 양주시 평화로 919
22           녹양            경기도 의정부시 평화로 757
23           가능            경기도 의정부시 평화로 633
24          의정부            경기도 의정부시 평화로 525
25           회룡            경기도 의정부시 평화로 363
26          망월사            경기도 의정부시 평화로 221
59           역곡               경기도 부천시 역곡로 1
60           소사             경기도 부천시 경인로 363
61           부천               경기도 부천시 부천로 1
62           중동              경기도 부천시 중동로 73
63           송내             경기도 부천시 송내대로 43
78           석수       경기도 안양시 만안구 경수대로 1431
79           관악  경기도 안양시 만안구 경수대로 1273번길 46

In [11]:
data_subway.to_csv('./data/수도권(지하철).csv')